<p style="color: green"><%= notice %></p>

<!-- Displaying the routine details -->
<h1><%= @exercise_routine.name %></h1>
<p><strong>Days per week:</strong> <%= @exercise_routine.days_per_week %></p>
<p><strong>Description:</strong> <%= @exercise_routine.description %></p>
<!-- List of associated exercises -->
<h2>Associated Exercises:</h2>
<ul>
  <% @exercise_routine.exercises.each do |exercise| %>
    <li><%= render exercise %></li>
  <% end %>
</ul>