<div id="<%= dom_id fitness_goal %>">
  <p>
    <strong>Name:</strong>
    <%= fitness_goal.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= fitness_goal.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= fitness_goal.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= fitness_goal.end_date %>
  </p>

  <p>
    <strong>Starting value:</strong>
    <%= fitness_goal.starting_value %>
  </p>

  <p>
    <strong>Ending value:</strong>
    <%= fitness_goal.ending_value %>
  </p>

  <p>
    <strong>Members:</strong>
    <%= fitness_goal.members_id %>
  </p>

</div>
