<p style="color: green"><%= notice %></p>

<%= render @health_metric %>

<div>
  <%= link_to "Edit this health metric", edit_health_metric_path(@health_metric) %> |
  <%= link_to "Back to health metrics", health_metrics_path %>

  <%= button_to "Destroy this health metric", @health_metric, method: :delete %>
</div>
