<%= form_with(model: payment_method) do |form| %>
  <% if payment_method.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(payment_method.errors.count, "error") %> prohibited this payment_method from being saved:</h2>

      <ul>
        <% payment_method.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :card_number, style: "display: block" %>
    <%= form.number_field :card_number %>
  </div>

  <div>
    <%= form.label :expiry_date, style: "display: block" %>
    <%= form.date_field :expiry_date %>
  </div>

  <div>
    <%= form.label :cvv, style: "display: block" %>
    <%= form.number_field :cvv %>
  </div>

  <div>
    <%= form.label :members_id, style: "display: block" %>
    <%= form.text_field :members_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
