<div id="<%= dom_id payment_method %>">
  <p>
    <strong>Card number:</strong>
    <%= payment_method.card_number %>
  </p>

  <p>
    <strong>Expiry date:</strong>
    <%= payment_method.expiry_date %>
  </p>

  <p>
    <strong>Cvv:</strong>
    <%= payment_method.cvv %>
  </p>

  <p>
    <strong>Members:</strong>
    <%= payment_method.members_id %>
  </p>

</div>
