<p style="color: green"><%= notice %></p>

<%= render @payment_method %>

<div>
  <%= link_to "Edit this payment method", edit_payment_method_path(@payment_method) %> |
  <%= link_to "Back to payment methods", payment_methods_path %>

  <%= button_to "Destroy this payment method", @payment_method, method: :delete %>
</div>
