<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to 'Fitness Management', root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            User Management
          </button>
          <ul class="dropdown-menu">
            <% if member_signed_in? %>
              <li>
                <%= button_to "Sign Out", destroy_member_session_path, method: :delete, class: "dropdown-item" %>
              </li>
              <li>
                <%= link_to "Edit Profile", edit_member_registration_path, class: "dropdown-item" %>
              </li>
            <% else %>
              <li>
                <%= link_to "Sign Up", new_member_registration_path, class: "dropdown-item" %>
              </li>
              <li>
                <%= link_to "Sign In", new_member_session_path, class: "dropdown-item" %>
              </li>
            <% end %>
          </ul>
        </li>
        <li class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Exercise Routines
          </button>
          <ul class="dropdown-menu">
            <li>
              <%= link_to "Create Routine", new_exercise_routine_path, class: "dropdown-item" %>
            </li>
            <li>
              <%= link_to "Create Exercise", new_exercise_path, class: "dropdown-item" %>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>