<div id="<%= dom_id room_booking %>">
  <p>
    <strong>Start date:</strong>
    <%= room_booking.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= room_booking.end_date %>
  </p>

  <p>
    <strong>Rooms:</strong>
    <%= room_booking.rooms_id %>
  </p>

  <p>
    <strong>Trainers:</strong>
    <%= room_booking.trainers_id %>
  </p>

</div>
