<div id="<%= dom_id group_class %>">
  <p>
    <strong>Name:</strong>
    <%= group_class.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= group_class.description %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= group_class.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= group_class.end_time %>
  </p>

  <p>
    <strong>Is recurring:</strong>
    <%= group_class.is_recurring %>
  </p>

  <p>
    <strong>Trainers:</strong>
    <%= group_class.trainers_id %>
  </p>

</div>
