<div id="<%= dom_id personal_training_session %>">
  <p>
    <strong>Name:</strong>
    <%= personal_training_session.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= personal_training_session.description %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= personal_training_session.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= personal_training_session.end_time %>
  </p>

  <p>
    <strong>Member:</strong>
    <%= personal_training_session.member_id_id %>
  </p>

  <p>
    <strong>Trainer:</strong>
    <%= personal_training_session.trainer_id_id %>
  </p>

</div>
