<div id="<%= dom_id member %>">
  <p>
    <strong>First name:</strong>
    <%= member.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= member.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= member.email %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= member.phone_number %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= member.height %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= member.weight %>
  </p>

</div>
